include LICENSE
include README.md
include CHANGELOG.md
include config.yaml
recursive-include automatelib *.py
recursive-include core *.py
recursive-include tasks *.py
recursive-include docs *.md *.png *.jpg
prune __pycache__
prune */__pycache__
prune */__pycache__/**
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude .DS_Store
global-exclude Thumbs.db
